.popup_type_login-user {
  display: block;
  position: relative;
  width: calc(100% - 2*200px);
  margin: 0 200px 0;
  transform: translate(0, -10px);
}

@media (max-width: 800px) {
  .popup_type_login-user  {
    width: 260px;
    margin: 0 auto 0;
    padding: 0 30px 0;
  }
}