.element__title {
  max-width: 190px;
  font-size: 24px;
  font-weight: 900;
  line-height: 1.20;
  text-align: center;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  margin: 3px auto 0 0;
}