.page {
  max-width: 1280px;
  min-width: 320px;
  margin: 0 auto;
  padding: 45px 0 60px;
  font-family: 'Inter', 'Arial', sans-serif;
  background-color: #000;
  background-size: 100%;
  color: #FFF;
  box-sizing: border-box;
}

.page_disable-scroll {
  overflow: hidden;
  position: fixed;
}

@media (max-width: 1279px) {
  .page {
    max-width: 100%;
  }
}

@media (max-width: 767px) {
  .page {
    padding: 28px 0px 36px;
  }
}